<div class="col-xs-7">
  <% @jurisdiction.logos.each do |logo| %>
  <div class="col-xs-4">
    <%= link_to image_tag("#{logo.image}", class: "logo-bar-image", alt: "#{logo.title}"), logo.url %>
  </div>
  <%end%>
</div>

<div class="col-xs-5">
  <%if @jurisdiction.telephone == true%>
    <p style="color: #0086B2; font-size: 18px; font-weight: 600; text-align: center"><%= t "footer.instructions", default: "To speak to an organisation, please pick up the handset and touch the number provided" %></p>
  <%end%>
  <p style="color: #0086B2; font-size: 12px; font-weight: 400" class="pull-right"><%= t "footer.attributions", default: "Built by James Duerden. Design aided by Georgina Wormald." %></p>
</div>
