// Place all the styles related to the advice_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.advice-modal{
  height: 350px;
}

.large.input{
  width:30em;
}

.modal-actions{
  padding-bottom: 50px;
}

.jurisdiction-modal{
  height: 400px;
}
