.logo-bar-image{
    display:block;
    margin:auto;
    height: 80px;
    width: auto
}

.button-column{
  padding-left: 5px;
  padding-right: 5px;
}

.topic-button{
  word-wrap: break-word;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 114px;
  border: 10px;
  background-image: linear-gradient(180deg, #00C0FF 0%, #0086B2 100%);
  color: #edebec;
  margin-top: 15px;
  height: 215px;
  text-align: center;
  h1{
      margin-top: 50px;
      font-size: 2.8em;
      font-weight: bolder;
  }
}

.telephone-topic{
  height: 150px;
  h1{
    margin-top: 25px;
  }
}

.telephone-button{
  height: 50px;
  h3{
    margin-top: 10px;
  }
}

.topic-button>h2,
.topic-button>h3,
.topic-button>h4,
.topic-button>h5{
    margin-top: 10px;
}

.topic-button>h3{
    font-size: 1.5em;
    font-weight: bold;
}

.kiosk-container{
  display: block;
  background-color: #f5f5f5;
  position: fixed !important;
  left: 0;
  right: 0;
}
.kiosk-container>.col-xs-3{
  padding-left: 5px;
  padding-right: 5px;
}

.kiosk-footer-container{
  display: block;
  background-color: #f5f5f5;
  padding-top: 1em;
  padding-bottom: 1em;
  border-color: #0086B2;
  border-top-style: solid;
  margin-top: 10px;
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
}
