<h1 class="title-line"><%=@kiosk.name.upcase%></h1>
<div class="ui stackable doubling two column grid">
  <div class="column">
    <h3>Visits, by location:</h3>
    <% visit_array = [] %>
    <%@hosts.each do |host|
      if host.visits.where(kiosk: @kiosk).count > 0
        visit_array << ["#{host.name}", host.visits.where(kiosk: @kiosk).count]
      end%>
    <%end%>
    <%= pie_chart visit_array%>
  </div>
  <div class="column">
    <h3>Clicks, by time of day:</h3>
    <%= column_chart @kiosk.visits.group_by_hour_of_day(:time_stamp).count %>
  </div>
</div>
