<h1 class="title-line">All Logs By Kiosk</h1>
<div class="ui stackable doubling three column grid">
  <% @allowed_kiosks.order(:name).each do |kiosk| %>
    <div class="column report-panel">
      <h2><%=kiosk.name.upcase%></h2>
      <%topic_array = {} %>
      <%@topics.each do |topic|
        if topic.location != "Feedback" and ["82.70.248.237", "logserver.3rdsectorit.co.uk"].include? topic.host.name
          topic_array["#{topic.location.split("_")[0].capitalize}"] = kiosk.visits.where(topic: topic).count %>
        <%end
      end%>
      <%= pie_chart topic_array.except("Home")%>
      <h3 class="pull-right"><%= link_to("Details", "/logs/#{kiosk.name}")%></h3>
    </div>
   <%end%>
</div>

<script>
$(document).ready(function() {
  $('#logs_breadcrumb').addClass('active');
});
</script>
