<h1>All Logs</h1>
<% @hosts.each do |host| %>
  <div class="col-md-3">
    <h3><%=host.name%></h3>
    <% host.topics.each do |topic| %>
      <h4><%=topic.location%></h4>
      <% topic.visits.each do |visit| %>
        <p><%=visit.kiosk.name%>: <%=Time.at(visit.time_stamp).to_s.chomp(' +0000')%></p>
      <%end%>
    <%end%>
  </div>
<%end%>

<script>
$(document).ready(function() {
  $('#logs_breadcrumb').addClass('active');
});
</script>
