<h1 class="title-line">All Logs By Kiosk</h1>
<div class="ui stackable doubling four column grid">
  <% @kiosks.order(:name).each do |kiosk| %>
    <div class="column report-panel">
      <h2><%=kiosk.name.upcase%></h2>
      <% visit_array = [] %>
      <%@hosts.each do |host|
        if host.visits.where(kiosk: kiosk).count > 0
          visit_array << ["#{host.name}", host.visits.where(kiosk: kiosk).count]
        end%>
      <%end%>
      <%= pie_chart visit_array %>
    </div>
   <%end%>
</div>

<script>
$(document).ready(function() {
  $('#logs_breadcrumb').addClass('active');
});
</script>
