<h1>Kiosk Status</h1>
<% @kiosks.each do |kiosk| %>
  <div class="col-md-3">
    <h2><%=kiosk.name.capitalize%></h2>
      <p>Address: <%=kiosk.address%></p>
      <p>Contact: <%=kiosk.contact%></p>
    <h3>Last Status Update:</h3>
      <p><%=kiosk.heartbeats.last.created_at%></p>
      <% if kiosk.heartbeats.last.created_at > 15.minutes.ago %>
        <h4 class="greentext"><strong>Connected</strong></h4>
      <%else%>
        <h4 class="redtext"><strong>Unconnected</strong></h4>
      <%end%>
  </div>
<%end%>

<script>
$(document).ready(function() {
  $('#status_breadcrumb').addClass('active');
});
</script>
