<h1 class="title-line">Feedback</h1>
<div class="ui stackable two column grid">
  <div class="column">
    <h3>Year of Birth</h3>
  </div>
  <div class="column">
    <h3>Disability</h3>
  </div>
  <div class="column">
    <h3>Sex</h3>
  </div>
  <div class="column">
    <h3>Income</h3>
  </div>
  <div class="column">
    <h3>Care Status</h3>
  </div>
  <div class="column">
    <h3>Number of GP Visits</h3>
  </div>
  <div class="column">
    <h3>Hospitalised This Year</h3>
  </div>
  <div class="column">
    <h3>Presenting Problem</h3>
  </div>
  <div class="column">
    <h3>Referral Type</h3>
  </div>
  <div class="column">
    <h3>Telephone User</h3>
  </div>
  <div class="column">
    <h3>Satisfaction Level</h3>
  </div>
</div>
